* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.rework-image {
    width: 720px;
    height:406px;
}

.footer {
    width: 720px;
    height:121px;
    background-color: black;
}

.container {
    padding-top: 15px;
    padding-left: 15px;
}

h2 {
    padding-left:17px;
    padding-bottom: 8px;
    padding-top:12px;
}

p {
    padding-left:17px;
    padding-top:4px;
    font-size: 12px;
}

.rebecca {
    color:#96BFCB;
}

.italic-class {
    font-style: italic;
}












